.about-section {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.attribution {
  display: none;
}

.heading {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
}

h1 {
  font-weight: bold;
}
