.about-section {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.attribution {
  display: none;
}

body {
  background-image: url("../assets/pexels-pavel-danilyuk-7234214.jpg");
  background-size: cover;
}

.heading {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
}

h1 {
  font-weight: bold;
}
