<body>
  <div class="container">
    <div class="container-fluid card about-section">
      <div class="heading">
        <h1>About</h1>
      </div>
      <p>
        TheaterOrChill offers ticketing and rental services for movies showing
        in theaters. For the same price, you can watch the latest movies at a
        theater near you, or at the comfort of your home.
      </p>
      <p>
        Every day it seems liklier that the near future will require us to
        learn how to live with COVID-19. We at TheaterOrChill
        understand that movie enthusiasts around the world want to continue watching new
        movies as they are released, even as inconveniences caused by COVID-19
        lockdown measures and safety protocols continue to impact their lives.
      </p>
      <p>
        That is why we have launched a platform where movie fans can decide
        whether to rent or go see a movie in theaters - at no extra cost. Movie
        rentals are valid while the movies are in theaters. In other words, once
        you have rented a movie, you have it available to you for as long as it
        is available on our website. You can stream it as many times as you want!
        Isn't that cool?
      </p>
      <p>
        Having said that, we are not discouraging going to the movies. That's 
        why those of you who decide to watch a movie in theaters will
        earn rewards on every visit! After four visits, you will have enough
        rewards to get yourself a free ticket to your fifth visit, and a $15
        voucher that can be applied to food, drinks, and movie memorabilia at a
        theater near you.
      </p>
      <p>So, thanks for stopping by and hopefully we will see you again!</p>
    </div>
  </div>
  <p class="attribution">Photo by Pavel Danilyuk from Pexels</p>
</body>
