a {
  text-decoration: none;
}

body {
  position: relative;
  min-height: 100vh;
}

.brand-display {
  display: flex;
  justify-content:space-between;
  align-items:flex-start;
}

.brand-font {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.brand-logo-and-name {
  display: flex;
}

.component-margin {
  margin-bottom: 10px;
}

.copyright {
  position: relative;
  left: 40%;
  margin: auto;
  display: flex;
}

#footer {
  height: 150px;
  bottom: 0;
  position: absolute;
  width: 100%;
  padding: 10px 10px 0px 10px;
}

.footer-items {
  margin: auto;
  position: relative;
  display: flex;
  left: 44%;
  padding-top: 5px;
}

.form-width {
  width: auto;
  display: inline;
}

h6 {
  padding: 15px 0px 0px 575px;
}

/* disable scrolling on mobile */

header, html, body {
  overflow-x: hidden;
}

header, body {
  position: relative;
}

.icons8-img {
  display: none;
}

.input-form-position {
  position: relative;
  left: 10px;
}

.list-menu {
  position: relative;
  right: 75px;
  top: 15px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.main-content {
  padding-bottom: 150px;
}

.menu-item:hover {
  color: white;
}

.navbar-padding {
  padding-left: 15px;
  padding-right: 15px;
}

.nav-item {
  text-align:center;
}

.search-form {
  position: relative;
  left: 20px;
  top: 5px;
}
