a {
  text-decoration: none;
  color: black;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 90px 1fr 70px;
  grid-template-areas:
    "header"
    "content"
    "footer";
  background: linear-gradient( rgba(226, 204, 30, 0.2), rgba(44, 62, 80, 0.8));
}

.brand-font {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.component-margin {
  margin-bottom: 10px;
}

.copyright, .links {
  margin: auto;
}

.footer {
  grid-area: footer;
}

.footer-items {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
}

.form-width {
  width: auto;
  display: inline;
}

h6 {
  padding: 15px 0px 0px 575px;
}

.header {
  grid-area: header;
}

.header-items {
    display: flex;
    justify-content: space-around;
    padding-top: 12px;
}

html, body {
    max-width: 100%;
    overflow: hidden;
}

.icons8-img {
  display: none;
}

.input-form-position {
  position: relative;
  left: 10px;
}

.main-menu {
  flex: 0 1 auto;
}

.list-menu {
  position: relative;
  right: 75px;
  top: 15px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.main {
  grid-area: content;
  padding-bottom: 50px;
}

.main-menu {
  flex: 1 0 1fr;
}

.menu-item:hover {
  color: orange;
}

.navbar-padding {
  padding-left: 15px;
  padding-right: 15px;
}

.search-form {
  left: 20px;
  top: 5px;
}

ul {
  list-style: none;
}

@media only screen and (min-width:600px) {
   .navbar-toggler {
    display: none;
   }
}
