.attribution {
  display: none;
}

body {
  background-image: url("../assets/pexels-pixabay-263564.jpg");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

h1 {
  font-weight: bold;
  padding-top: 25px;
}

h5 {
  font-weight: 650;
}
