<div class="container carousel-container">
    <div class="container-fluid">
        <div class="row">
            <div class="flex-items">
                <div class="text-dark">
                    <h5><strong>In Theaters</strong></h5>
                </div>
                <div><a [routerLink]="['/movies/nowPlayingMovies']">view all</a></div>
            </div>

            <owl-carousel-o [options]="customOptions">
                <ng-container *ngFor="let movie of nowPlayingMovies">
                    <ng-template *ngIf="movie.posterPath" carouselSlide [id]="movie.title">
                        <img [src]="posterPathBaseUrl + movie.posterPath" [alt]="movie.title" [title]="movie.title"
                        [routerLink]="['/movies', movie.title]">
                    </ng-template>
                </ng-container>
            </owl-carousel-o>

        </div>
    </div>

    <div class="container-fluid carousel-container">
        <div class="row">
            <div class="flex-items">
                <div class="text-dark">
                    <h5><strong>Coming Next Week</strong></h5>
                </div>
                <div><a [routerLink]="['/movies/upcomingMovies']">view all</a></div>
            </div>

            <owl-carousel-o [options]="customOptions">
                <ng-container *ngFor="let movie of upcomingMovies">
                    <ng-template *ngIf="movie.posterPath" carouselSlide [id]="movie.title">
                        <img  [src]="posterPathBaseUrl + movie.posterPath" [alt]="movie.title" [title]="movie.title" 
                        [routerLink]="['/movies', movie.title]">
                    </ng-template>
                </ng-container>
            </owl-carousel-o>

        </div>
    </div>

    <div class="container-fluid carousel-container">
        <div class="row">
            <div class="flex-items">
                <div class="text-dark">
                    <h5><strong>Coming Soon</strong></h5>
                </div>
                <div><a [routerLink]="['/movies/upcomingMovies']">view all</a></div>
            </div>

            <owl-carousel-o [options]="customOptions">
                <ng-container *ngFor="let movie of upcomingMovies">
                    <ng-template *ngIf="movie.posterPath" carouselSlide [id]="movie.title">
                        <img [src]="posterPathBaseUrl + movie.posterPath" [alt]="movie.title" [title]="movie.title"
                        [routerLink]="['/movies', movie.title]">
                    </ng-template>
                </ng-container>
            </owl-carousel-o>

        </div>
    </div>
</div>
