<div class="container main">
  <section class="now-playing">
    <div class="content-wrapper">
      <div class="content-labels">
        <p>Now Playing</p>
        <p><a [routerLink]="['/movies/nowPlayingMovies']"> See All</a></p>
      </div>
      <div class="carousel-wrapper">
        <button type="button" class="prev" appPrev>
          <fa-icon [icon]="faAngleLeft"></fa-icon>
        </button>
        <div class="carousel-main">
          <div class="item" *ngFor="let movie of nowPlayingMovies">
            <div class="poster" *ngIf="movie.posterPath">
              <img
                [src]="posterPathBaseUrl + movie.posterPath"
                [alt]="movie.title"
                [routerLink]="['/movies', movie.title]"
              />
            </div>
          </div>
        </div>
        <button type="button" class="next" appNext>
          <fa-icon [icon]="faAngleRight"></fa-icon>
        </button>
      </div>
    </div>
  </section>

  <section class="upcoming">
    <div class="content-wrapper">
      <div class="content-labels">
        <p>Upcoming</p>
        <p><a [routerLink]="['/movies/upcomingMovies']"> See All</a></p>
      </div>
      <div class="carousel-wrapper">
        <button type="button" class="prev" appPrev>
          <fa-icon [icon]="faAngleLeft"></fa-icon>
        </button>
        <div class="carousel-main">
          <div class="item" *ngFor="let movie of upcomingMovies">
            <div class="poster" *ngIf="movie.posterPath">
              <img
                [src]="posterPathBaseUrl + movie.posterPath"
                [alt]="movie.title"
                [routerLink]="['/movies', movie.title]"
              />
            </div>
          </div>
        </div>
        <button type="button" class="next" appNext>
          <fa-icon [icon]="faAngleRight"></fa-icon>
        </button>
      </div>
    </div>
  </section>

  <section class="container movie-news">
    <div class="content-wrapper">
      <div class="content-labels">
        <p>Latest Movie News And Headlines</p>
        <p><a href="#"> See All</a></p>
      </div>
      <div class="news-wrapper">
        <div class="article-wrapper">
          <div class="image">
            <img
              src="{{ featuredArticleOne.urlToImage }}"
              class="card-img-top"
              alt="..."
            />
          </div>
          <div class="title">
            <h3>{{ featuredArticleOne.title }}</h3>
          </div>
          <div class="description">
            <p>{{ featuredArticleOne.description }}</p>
          </div>
        </div>
        <div class="article-wrapper">
          <div class="image">
            <img
              src="{{ featuredArticleTwo.urlToImage }}"
              class="card-img-top"
              alt="..."
            />
          </div>
          <div class="title">
            <h3>{{ featuredArticleTwo.title }}</h3>
          </div>
          <div class="description">
            <p>{{ featuredArticleTwo.description }}</p>
          </div>
        </div>
        <div class="article-wrapper">
          <div class="image">
            <img
              src="{{ featuredArticleThree.urlToImage }}"
              class="card-img-top"
              alt="..."
            />
          </div>
          <div class="title">
            <h3>{{ featuredArticleThree.title }}</h3>
          </div>
          <div class="description">
            <p>{{ featuredArticleThree.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- test -->